{% extends "layout.html" %}

{% block body %}
<h1>Second Page</h1>

At consectetur lorem donec massa sapien faucibus et molestie ac. Amet mauris commodo quis imperdiet massa tincidunt
nunc. Lectus urna duis convallis convallis tellus id. Diam maecenas ultricies mi eget. Tristique senectus et netus et
malesuada fames ac turpis. In metus vulputate eu scelerisque felis imperdiet proin fermentum leo. Porta non pulvinar
neque laoreet suspendisse interdum consectetur. Faucibus turpis in eu mi bibendum neque egestas. Amet purus gravida quis
blandit. Nisl nunc mi ipsum faucibus vitae aliquet nec ullamcorper.
{% endblock %}